


{% extends 'apps/include_base/base.html' %}


{% load static %}

{% block body %}



<div class="card mb-3" id="ordersTable" data-list='{"valueNames":["order","date","address","status","amount"],"page":10,"pagination":true}'>
            <div class="card-header">
              <div class="row flex-between-center">
                <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                  <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Buyurtmalarim</h5>
                </div>
                <div class="col-8 col-sm-auto ms-auto text-end ps-0">
                  <div class="d-none" id="orders-bulk-actions">
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive scrollbar">
                <table class="table table-sm table-striped fs--1 mb-0 overflow-hidden">
                  <thead class="bg-200 text-900">
                    <tr>
                      <th>
                        <div class="fs-0 mb-0 d-flex align-items-center" >
{#                          <input class="form-check-input" id="checkbox-bulk-customers-select" type="checkbox" data-bulk-select='{"body":"table-orders-body","actions":"orders-bulk-actions","replacedElement":"orders-actions"}' />#}
                        </div>
                      </th>
                      <th class="sort pe-1 align-middle white-space-nowrap" data-sort="order">Buyurtmachi</th>
                      <th class="sort pe-1 align-middle white-space-nowrap pe-7" data-sort="date">Telefon raqami</th>
                      <th class="sort pe-1 align-middle white-space-nowrap" data-sort="address" >Mahsulot nomi</th>
                      <th class="sort pe-1 align-middle white-space-nowrap text-center" data-sort="status">Buyurtma narxi</th>
{#                      <th class="sort pe-1 align-middle white-space-nowrap " data-sort="address">Buyurtma</th>#}
{#                      <th class="sort pe-1 align-middle white-space-nowrap text-center" data-sort="status">O'chirish</th>#}
{#                      <th class="sort pe-1 align-middle white-space-nowrap text-end" data-sort="amount">Amount</th>#}
                      <th class="no-sort"></th>
                    </tr>
                  </thead>
                  <tbody class="list" id="table-orders-body">
                  {% for i in orders %}
                    <tr class="btn-reveal-trigger">
                      <td class="align-middle" style="width: 28px;" href="">
{#                        <div class="far fa-trash-alt" ><a href="" ></a>#}
{#                          <input class="form-check-input" type="checkbox" id="checkbox-0" data-bulk-select-row="data-bulk-select-row" />#}
{#                        </div>#}
                      </td>
                      <td class="order py-2 align-middle white-space-nowrap"><a href="../../../app/e-commerce/orders/order-details.html"></a><strong>{{ i.name }}</strong></td>
                      <td class="date py-2 align-middle">+{{ i.phone_number }}</td>
                      <td class="address py-2 align-middle white-space-nowrap">{{ i.product.name }}
{#                        <p class="mb-0 text-500">Via Flat Rate</p>#}
                      </td>
{#                      <td class="status py-2 align-middle text-center fs-0 white-space-nowrap"><span class="badge badge rounded-pill d-block badge-soft-success">Completed<span class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span></span>#}
{#                      </td>#}
                      <td class="amount py-2 align-middle text-end fs-0 fw-medium">${{ i.product.price }}</td>
                      <td class="py-2 align-middle white-space-nowrap text-end">
                        <div class="dropdown font-sans-serif position-static">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal" type="button" id="order-dropdown-0" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--1"></span></button>
                          <div class="dropdown-menu dropdown-menu-end border py-0" aria-labelledby="order-dropdown-0">
                            <div class="bg-white py-2"><a class="dropdown-item text-danger" href="{% url 'delete-order' i.id %}">Ochirish</a>
{#                              <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Delete</a>#}
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}  
                  </tbody>
                </table>
              </div>
            </div>
          </div>





{% endblock %}